<div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
    <div class="list-group text-center">
        <a href="#" class="list-group-item active main_active">首页</a>
        <a href="#" class="list-group-item active main_active">域名管理</a>
        <a href="{{ url_for('main.index') }}" class="list-group-item">域名列表</a>
        <a href="{{ url_for('main.domain_log') }}" class="list-group-item">日 志</a>
        <a href="{{ url_for('user.list') }}" class="list-group-item active main_active">用户管理</a>
        <a href="{{ url_for('user.list') }}" class="list-group-item">用户列表</a>
{#        <a href="#" class="list-group-item">权限管理</a>#}
    </div>
</div>